@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  min-height: calc(100vh - 5rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.foodImg {
  width: 60% !important;
  height: 50% !important;
}

.deliveryText {
  top: 10%;
  left: 10%;
  color: #fff;
}

.categoryImg {
  height: 120px !important;
  width: 140px !important;
}

.foodItem {
  height: 200px !important;
  width: 250px !important;
  object-fit: cover;
}

.userImage {
  height: 70px !important;
  width: 70px !important;
}

.userContainer {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.cartFood {
  height: 100% !important;
  width: 100% !important;
  border-radius: 5px;
  object-fit: cover;
}

.cartFoodContainer {
  width: 70px;
  height: 55px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
