@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  min-height: calc(100vh - 5rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.foodImg {
  width: 60% !important;
  height: 50% !important;
}

.deliveryText {
  top: 10%;
  left: 10%;
  color: #fff;
}

.categoryImg {
  height: 120px !important;
  width: 140px !important;
}

.foodItem {
  height: 180px !important;
  width: 230px !important;
  object-fit: cover;
}

.userImage {
  height: 70px !important;
  width: 70px !important;
}

.userContainer {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
